*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}

.form-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 20px;
  background-color: #e9ebed;
}

.submit{
  justify-content: center;
}

.form-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 20px;
  background-color: #b2b4b6;
}

.textBox{ 
  background-color: #e9ebed;
  padding: 20px;
  border: 1px solid black;
}

.dumbText{
  text-align: center;
}

.dumbButton{
  text-align: center;
  background-color: #b2b4b6;
  padding: 20px;
  border: 1px solid black;
}

.orderButton {
  background-color: lightgreen;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  width: 200px;
  margin: 0 auto;
  border-radius: 30px;
}

/*.my-button{
  padding: 10px 20px;
}*/